.main-button{
    cursor: pointer;
    width: 30vh;
    height: 35px;
    border-radius: 10px;
    transition-duration: 0.5s;
}

.main-button:hover{
    background-color: rgba(121, 212, 16, 0.8);
    
}